<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexTally - Real-Time Workout Tracker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 20px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        #video {
            width: 80%;
            border: 2px solid #000;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1>FlexTally - Real-Time Workout Tracker</h1>
        <form id="workoutForm">
            <label for="exercise">Select Exercise:</label>

            <select id="exercise" name="exercise">
                <option value="Push-Ups">Push-Ups</option>
                <option value="Squats">Squats</option>
                <option value="Jumping Jacks">Jumping Jacks</option>
            </select>
            <br><br>
            < <label for="target_reps">Target Repetitions:</label>
                <input type="number" id="target_reps" name="target_reps" required>
                <br><br>
                <button type="submit">Start Workout</button>
        </form>

        <div id="videoContainer">
            <img id="video" src="{{ url_for('video_feed') }}" />
        </div>
    </div>

    <script>
        document.getElementById('workoutForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const exercise = document.getElementById('exercise').value;
            const targetReps = document.getElementById('target_reps').value;

            fetch('/start_workout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `exercise=${exercise}&target_reps=${targetReps}`
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message); // Workout started message
                });
        });
    </script>

</body>

</html>